
.cart-section{
    width: 100vw;
    margin: 80px auto;
    padding-left: 25px;
    padding-right: 25px;
}


.cart{
   display: grid;
   grid-template-columns: 70% 30%;
   justify-content: center;

    margin: 0 4rem;
}

.table2{
    margin-right: 2rem;
    border: 1px solid #ff523b;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    max-height: 400px;
}

.table2 h1{
    padding: 10px;
}

.table2 p{
    padding: 10px;
}

.table2 dt{
    font-size: 1rem;
    padding: 10px;
}

.table2 h5{
    padding: 10px;
}

.table2 Button{
    width: 90%;
}

.sub-table{
    display: flex;
    justify-content: space-between;
}


.fa-trash{
    cursor: pointer;
}

.empty-container{
    display: flex;
    justify-content: right;
}

.empty{
    min-width: 60%;
    text-align: center;
}

.empty div i{
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 4rem;
}

.empty Button{
    width: 50%;
}