.confirm-container{
    display: flex;
    justify-content: center;
}

.confirm{
    min-width: 80%;
    text-align: center;
    margin-top: 4rem;
}

.confirm p, .confirm h1{
    padding: 3px 5px;
}
.confirm div i{
    font-size: 4rem;
    color: rgb(65, 231, 65);;
}