

.container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.section{
    width: 100vw;
}

.section-title{
    text-align: center;
    padding: 10px 5px;
    margin: 0 auto 20px;
    color: rgb(73, 67, 67);
    line-height: 60px;
    position: relative;
}

.section-title::after{
    content: '';
    background:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.grid-product{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    align-items: center;
  
    padding-left: 20px;
    padding-right: 20px;
}

.btn{
    display: inline-block;
    width: 130px;
    height: 40px;

    color: white;
    background-color: #ff523b;

    border-radius: 30px;

    outline: none;
    text-align: center;
    font-size: 14px;
    font-weight: 800px;
    border-style: none;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);

    cursor: pointer;
}



/* Y margin */
.my-1{
    margin: 1rem 0;
}

.my-2{
    margin: 1.5rem 0;
}

.my-3{
    margin: 2rem 0;
}

.my4{
    margin: 3rem 0;
}

.my-5{
    margin: 4rem 0;
}

/* X margin */
.mx-1{
    margin: 1rem 0;
}

.mx-2{
    margin: 1.5rem 0;
}

.mx-3{
    margin: 2rem 0;
}

.mx4{
    margin: 3rem 0;
}

.mx-5{
    margin: 4rem 0;
}

/* Whole margin */
.m-1{
    margin: 1rem 0;
}

.m-2{
    margin: 1.5rem 0;
}

.m-3{
    margin: 2rem 0;
}

.m4{
    margin: 3rem 0;
}

.m-5{
    margin: 4rem 0;
}

/* Y padding */
.py-1{
    padding: 1rem 0;
}

.py-2{
    padding: 1.5rem 0;
}

.py-3{
    padding: 2rem 0;
}

.py4{
    padding: 3rem 0;
}

.py-5{
    padding: 4rem 0;
}

/* X margin */
.px-1{
    padding: 1rem 0;
}

.px-2{
    padding: 1.5rem 0;
}

.px-3{
    padding: 2rem 0;
}

.px4{
    padding: 3rem 0;
}

.px-5{
    padding: 4rem 0;
}

/* Whole margin */
.p-1{
    padding: 1rem 0;
}

.p-2{
    padding: 1.5rem 0;
}

.p-3{
    padding: 2rem 0;
}

.p4{
    padding: 3rem 0;
}

.p-5{
    padding: 4rem 0;
}